
<!--

<div class="header" >
    <img class="header2" src="../../../assets/images/logo.png" alt="logo"/>
    <p class="header2">WELCOME {{nick}}</p> 
    <button class="header2" mat-raised-button color="primary" (click)="logout()" >Logout</button>
</div>


-->

<div class="header">
    <div class="overlay">
  <h1><img class="header2" src="../../../assets/images/logo.png" alt="logo"/></h1>
  <h3>Welcome {{nick}}, stay connected with your class</h3>

    
<!--    <button style="width:120px; margin-right: 2px;" (click)="openAddClassDialog()" >Create class</button>   -->
    <button (click)="logout()" style="width:120px; margin-left: 2px;">Logout</button>
    
      </div>
    </div>