.about-form-container {
    
    height: 310px;
    width: 270px;
   
    text-align: center;
  }

h1 {
    text-align: center;
}

p{
    text-align: justify;
    display: block;
}

button {
    width: 270px;
}